# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle teacode-atom-helper'
      'command': 'teacode-atom-helper:expand'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'TeaCode'
      'submenu': [
        {
          'label': 'Expand'
          'command': 'teacode-atom-helper:expand'
        }
      ]
    ]
  }
]
